.footer-container{
    background-color: #00C4B3;
    height: 260px;
    padding-inline: 100px;
    padding-block: 40px;
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
}
.logo1{

    margin-left: 15px;
    width: 200px;
    height: fit-content;
}
#footer{
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto Thin";
    font-size: 16px;
}
#footer:hover{
    text-decoration: none;
    color: #00796B;
    font-family: "Roboto Thin";
    font-size: 16px;
}
