.header-container{
    background: linear-gradient(180deg, #254231, white);
    display: flex;
    gap: 20px; /* Butonlar arası boşluk */
    width: 100%;
    color: white;
    flex-wrap: wrap; /* Ekran küçülürse alt satıra geçebilir */
    margin-bottom: 100px;
}
.login-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: 120px;
}
.login-btn:hover {
    background-color: white;
    color: #beffb1 ;
}
.signup-btn{
    background-color: white;
    color: #254231;
    border: 2px solid white;
    border-radius: 40px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: 120px;
}
.signup-btn:hover {
    background-color: #beffb1 ;
    border: #beffb1 ;
    color: white;
}
.btn1{
    background-color: transparent;
    color: white;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
}
.btn1:hover {
    background-color: transparent;
    color: #beffb1;
}
.logo{
    margin-left: 40px;
    width: 220px;
    height: fit-content;
}

.button-location{
    background-color: transparent;
    display: flex;
    flex: 8;
    justify-content: flex-end;
    gap: 20px; /* Butonlar arası boşluk */
    width: 100%;
    flex-wrap: wrap; /* Ekran küçülürse alt satıra geçebilir */
}
.deneme{
    padding: 20px;
    width: 100%;
    height: 140px;
}
.dashboard-img{
    width: 80%;
    border-radius: 3%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}
.commercial{
    width: 100%;
    display: flex;
    justify-content: center;

}
.slogan{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto Thin";
    font-size: xxx-large;
    font-weight: bolder;
}