.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.product{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    transition: transform 0.7s ease;
}
.product:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.product-header{
    display: flex;
}
.small-image{
    height: 100px;
}
.product-name-style{
    margin-right: 15px;
    align-content: center;
    text-align: end;
}
.product-body{
    margin: 15px;
}
.product-btn-bar{
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;   /* yatayda ortala */
    align-items: center;       /* dikeyde ortala */
}
.product-manage-btn{
    width: 150px;
    border-radius: 40px;
    border: 1px solid rgb(0, 121, 107);
    font-family: "Roboto Thin";
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #00796B;
    font-weight: normal;
}
.product-manage-btn:hover{
    background-color: #00796B;
    border: 2px solid rgb(0, 121, 107);
    color: #ffffff;
}
.titleheader{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(37, 66, 49, 0.1);
    width: 560px;
    font-family: "Roboto Thin";
    color: #6a8580;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-direction: column;
    margin-left: 60px;
    transform: translateY(-50px);
    transition: all 0.6s ease-out;
}
.titleheader.show{
    opacity: 1;
    transform: translateY(0);
}

.titleheader h1{
    color: white;
    text-shadow: 0 1px 1px rgba(40, 97, 68, 0.2);
    font-family: "Roboto Thin";
    font-weight: 900;
}
.productlist{

    display: flex;
    gap: 20px;
    justify-content: center;

}