.product-container{
    background: linear-gradient(    180deg,
    white 0%,
    white 5%,
    #beffb1 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.product{
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    transition: transform 0.7s ease;
}
.product:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.product-header{
    display: flex;
}
.small-image{
    height: 100px;
}
.product-name-style{
    margin-right: 15px;
    align-content: center;
    text-align: end;
}
.product-body{
    margin: 15px;
}
.product-btn-bar{
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;   /* yatayda ortala */
    align-items: center;       /* dikeyde ortala */
}
.product-manage-btn{
    width: 150px;
    border-radius: 40px;
    border: 1px solid rgb(37, 89, 65);
    font-family: "Roboto Thin";
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #255941;
    font-weight: normal;
}
.product-manage-btn:hover{
    background-color: #254231;
    border: 2px solid rgb(37, 89, 65);
    color: #ffffff;
}
.titleheader{
    font-family: "Roboto Thin";
    color: #255941;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-direction: column;
    text-align: center;
}
.productlist{

    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}