.user-stories{
    background-color: rgba(37, 66, 49, 0.1);
    height: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;

}
.user-profile{
    position: relative;
    display: flex;
    border-radius: 5%;
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.6s ease-out;
    flex-direction: row;
    justify-content: end;

}
.user-profile.show {
    opacity: 1;
    transform: translateX(0);

}
.user-story-comment{
    border-radius: 5%;
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.6s ease-out;

}
.user-story-comment.show{
    opacity: 1;
    transform: translateX(0);

}
.human-image{
    height: 360px;
    border-radius: 5%;

}
.user-story-buton{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 170px;
    height: 35px;
    border: 1px solid #ffffff;
    font-family: "Roboto Thin";
    background-color: #ffffff;
    cursor: pointer;
    color: rgb(0, 121, 107);
    font-weight: normal;
}
.user-story-buton:hover{
    border: 2px solid #ffffff;
    color:#00796B;
    font-weight: bolder;
    transform: scale(1.03);
}
.user-story-buton2{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 35px;
    border: 1px solid #ffffff;
    font-family: "Roboto Thin";
    background-color: #ffffff;
    cursor: pointer;
    color: rgb(0, 121, 107);
    font-weight: normal;
}
.user-story-buton2:hover{
    border: 2px solid #ffffff;
    color: #00796b;
    font-weight: bolder;
    transform: scale(1.03);
}
.greycolor{
    color: #6a8580;
}