.user-stories{
    background-color: rgba(37, 66, 49, 0.1);
    height: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;

}
.user-profile{
    border-radius: 5%;
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.6s ease-out;

}
.user-profile.show {
    opacity: 1;
    transform: translateX(0);

}
.user-story-comment{
    border-radius: 5%;
    background-color: white;
    height: 400px;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.6s ease-out;

}
.user-story-comment.show{
    opacity: 1;
    transform: translateX(0);

}
.human-image{
    height: 360px;

    border-radius: 5%;

}