
.loginPage {

    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 40%;
    padding-left: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
    background: #e9ecea ;


}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    background-color: #76cec2;

}




.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Roboto Thin";



}


.logol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.E-mail-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}

.Password-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}


.Label{
    display: flex;
    flex-direction: column;
    padding: 3%;


}

.button-loginm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25%;

}

.login-btnm {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    height: 50px;
}

.to-login{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#al{

    color: white  ;
    font-weight: 300;
    font-family: "Roboto Thin";
    font-size: 20px;
    margin-top: 20%;


}

