

.RegisterPage {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    padding-right: 40%;
    padding-left: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: #e9ecea ;



}

.container{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
    background-color: #76cec2;
    min-width: 320px;
    min-height: 720px;



}

label.Label{

    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    font-size: 0.8rem;






}

input.E-mail.Input{
    border-radius: 10px;
    border: none;

}

input.Password.Input{

    border-radius: 10px;
    border: none;
}

input.Name.Input{
    border-radius: 10px;
    border: none;
}

input.SurName.Input{
     border-radius: 10px;
     border: none;
 }

.input-area{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;








}

.logor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}


.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-top: 15%;


}



.Name-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}

.SurName-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}
.E-mail-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}

.Password-group{

    display: flex;
    flex-direction: column;
    width: 100%;



}


.Label{
    display: flex;
    flex-direction: column;
    padding: 5px;


}

.button-registerm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 15%;

}

.signup-btnm {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    height: 50px;
}

.to-register{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#ar{
    color: white  ;
    font-weight: 300;
    font-family: "Roboto Thin";
    font-size: 20px;
    margin-top: 15%;


}


