@font-face {
    font-family: "Muli-Regular";
    src: url("frontend/humanresource/public/fonts/muli/Muli-Regular.ttf"); }
@font-face {
    font-family: "Muli-SemiBold";
    src: url("frontend/humanresource/public/fonts/muli/Muli-SemiBold.ttf"); }
@font-face {
    font-family: "Muli-Bold";
    src: url("frontend/humanresource/public/fonts/muli/Muli-Bold.ttf"); }

.RegisterPage {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;

    background: linear-gradient(180deg, #254231, white);



}

.container{

    display: flex;
    flex-direction: column;

    min-height: 100%;
    min-width: 100%;






}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5%;
}


.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin-top: 15%;


}

.input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60%;
    margin-top: 17%;



}

.Name-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}

.SurName-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}
.E-mail-group{

    display: flex;
    flex-direction: column;
    width: 100%;


}

.Password-group{

    display: flex;
    flex-direction: column;
    width: 100%;



}


.Label{
    display: flex;
    flex-direction: column;
    padding: 5px;


}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    min-width: 100%;

    cursor: pointer;





}

.to-register{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#ar{

    color: #254231  ;
    font-family: Muli-Bold,sans-serif;
    font-size: 20px;
    margin-top: 25%;


}


#h3r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    max-height: 2%;
    margin-bottom: 15%;
    color: #ffffff;
    font-family: Muli-SemiBold, sans-serif;

}
