.fixed-side-bar{
    background: rgba(239, 239, 239, 0.53);
    height: 100vh;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fixed-bar-image{
    display: flex ;
    height: 70px;
    padding: 8px;
    justify-content: center;
}
.fixed-bar-button-container{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* içeriği yukarı hizala */
}
.logo-left-menu{
    height: 100%;
    filter: drop-shadow(0 0 6px rgba(110, 110, 110, 0.7));
}
.fixed-bar-buttons{
    background-color: transparent;
    color: #6e6e6e;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto Thin";
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    text-align: left;
}
.fixed-bar-buttons:hover{
    color: #00796B;
    font-weight: bolder;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

}
.small-image-fixed-bar{
    height: 30px;
    margin-right: 10px;
}
.bottom-bar{
    display: flex;
    align-content: end;
    justify-content: end;
    height: 30%;
    flex-direction: column;
    margin-bottom: 40px;
}
.manager-page-header{
    margin-right: 20px;
    margin-top: 10px;
    height: 100px;
    color: #6e6e6e;

}
.box-dashboard{
    max-height: 500px;
}
.box1-dashboard {
    margin-top: 10px;
    border-color: rgba(239, 239, 239, 0.53);
    border-width: 5px;
    border-style: solid;
}
.small-image-fixed-bar2{
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}
.profile-settings-header{
    background: rgba(239, 239, 239, 0.53);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-right: 10px;
}
.profile-settings-header-name{
    margin-left: 10px;
}
.profile-settings-header-icon{
    display: flex;
    align-content: end;
    justify-content: end;
}
.profile-settings-body{
    margin:10px;
    height: 120px;
}
.account-button-container{
    display: flex;
    align-content: end;
    justify-content: end;
}
.accountbutton{
    width: 100px;
    height: 25px;
    border: none;
    font-family: "Roboto Thin";
    background-color: transparent;
    cursor: pointer;
    color: rgb(0, 121, 107);
    font-weight: normal;
}
.accountbutton:hover{
    border: transparent;
    color:#00796B;
    font-weight: bolder;
    transform: scale(1.03);
}
.leave-settings-body {
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* grafik + buton arası denge */
}
.fontstyle-shiftnames{
    font-size: 14px;
    color: #6e6e6e;
}
.fontstyle-shifthours{
    font-size: 14px;
    font-weight: bold;
    color: #6e6e6e;
}
.request-button-container{
    display: flex;
    align-content: end;
    justify-content: end;
}